/**a complete collection of my fonts so pls give credit**/

@font-face {
font-family: Christmas Lights;
src: url('https://raw.githubusercontent.com/mooonlight11/fonts/main/christmaslightsindoor-webfont.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/fonts/main/christmaslightsindoor-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: Jingle Bells;
src: url('https://raw.githubusercontent.com/mooonlight11/fonts/main/pwchristmasfont-webfont.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/fonts/main/pwchristmasfont-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: Thanksgiving Dinner;
src: url('https://raw.githubusercontent.com/mooonlight11/fonts/main/thanksgiving_webfont.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/fonts/main/thanksgiving_cooker-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}


@font-face {
font-family: Rosetta;
src: url('https://raw.githubusercontent.com/mooonlight11/fonts/main/rosetta-regular-webfont.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/fonts/main/rosetta-regular-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: Good Morning;
src: url('https://raw.githubusercontent.com/mooonlight11/fonts/main/super_morning-webfont.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/fonts/main/super_morning-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: Fluttershy;
src: url('https://raw.githubusercontent.com/mooonlight11/fonts/main/fluttershy-regular-webfont.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/fonts/main/fluttershy-regular-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: Rainbow Umbrella;
src: url('https://raw.githubusercontent.com/mooonlight11/fonts/main/rainbow_umbrella-webfont.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/fonts/main/rainbow_umbrella-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: Bettermilk;
src: url('https://raw.githubusercontent.com/mooonlight11/fonts/main/bettermilk-webfont.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/fonts/main/bettermilk-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: Typo Snowy;
src: url('https://raw.githubusercontent.com/mooonlight11/fonts/main/typo_snowy_bw_demo-webfont.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/fonts/main/typo_snowy_bw_demo-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: Cute Notes;
src: url('https://raw.githubusercontent.com/mooonlight11/fonts/main/cute_notes-webfont.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/fonts/main/cute_notes-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: Paradise Cloud;
src: url('https://raw.githubusercontent.com/mooonlight11/fonts/main/paradise_cloud-webfont.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/fonts/main/paradise_cloud-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: Reindeer Antlers;
src: url('https://raw.githubusercontent.com/mooonlight11/fonts/main/red_christmas_-_personal_use-webfont.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/fonts/main/red_christmas_-_personal_use-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: Johnny Hancock;
src: url('https://raw.githubusercontent.com/mooonlight11/fonts/main/photograph_signature-webfont.woff') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/fonts/main/photograph_signature-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}


@font-face {
font-family: happy time;
src: url('https://raw.githubusercontent.com/mooonlight11/fonts/main/happytimedoodles-webfont.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/fonts/main/happytimedoodles-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: Dominos;
src: url('https://raw.githubusercontent.com/mooonlight11/fonts/main/dominique-webfont.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/fonts/main/dominique-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}


@font-face {
font-family: Names;
src: ur('https://raw.githubusercontent.com/mooonlight11/fonts/main/noahandnicole-webfont.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/fonts/main/noahandnicole-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: Skyfall;
src: url('https://raw.githubusercontent.com/bear838/skyfall/main/handmade_mandala-webfont.woff2') format('woff2'),
url('https://raw.githubusercontent.com/bear838/skyfall/main/handmade_mandala-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: seashore;
src: url('https://raw.githubusercontent.com/bear838/todayshow/main/today_show-webfont.woff2') format('woff2'),
url('https://raw.githubusercontent.com/bear838/todayshow/main/today_show-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: Pen;
src: url('https://raw.githubusercontent.com/Hestu-the-Bestu/fonts1/blob/main/a.casual.handwritten.pen.noncommercial-webfont.woff2') format('woff2'),
url('https://raw.githubusercontent.com/Hestu-the-Bestu/fonts1/main/a.casual.handwritten.pen.noncommercial-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: fruit loops;
src: url('https://raw.githubusercontent.com/mooonlight11/fonts/main/alyale-webfont.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/fonts/main/alyale-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: raindrops;
src: url('https://raw.githubusercontent.com/mooonlight11/fonts/main/chocolate_covered_raindrops_bold-webfont.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/fonts/main/chocolate_covered_raindrops_bold-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: signature;
src: url('https://raw.githubusercontent.com/mooonlight11/fonts/main/lieselotte_-_personal_use-webfont.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/fonts/main/lieselotte_-_personal_use-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: snow blocks;
src: url('https://raw.githubusercontent.com/mooonlight11/fonts/main/cartoon_blocks_christmas-webfont.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/fonts/main/cartoon_blocks_christmas-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: shooting star;
src: url('https://raw.githubusercontent.com/mooonlight11/fonts/main/shooting-star-personal-use.regular-webfont.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/fonts/main/shooting-star-personal-use.regular-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: vividly;
src: url('https://raw.githubusercontent.com/chloe-tseng/chloe-fonts/main/vividly-regular-webfont.woff2') format('woff2'),
url('https://raw.githubusercontent.com/chloe-tseng/chloe-fonts/main/vividly-regular-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'snow';
src: url('https://raw.githubusercontent.com/bigseals/random-fonts-2/main/mysticalsnow-mv3aj-webfont.woff2') format('woff2'),
url('https://raw.githubusercontent.com/bigseals/random-fonts-2/main/mysticalsnow-mv3aj-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'helium';
src: url('https://raw.githubusercontent.com/mooonlight11/font2/main/helium.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/font2/main/helium.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'vertically';
src: url('https://raw.githubusercontent.com/mooonlight11/font2/main/vertically.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/font2/main/vertically.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'elegant';
src: url('https://raw.githubusercontent.com/mooonlight11/font2/main/elegant_demo-webfont.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/font2/main/elegant_demo-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'billie signature';
src: url('https://raw.githubusercontent.com/mooonlight11/font2/main/billiesignaturedemo-demo-webfont.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/font2/main/billiesignaturedemo-demo-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'kinantan';
src: url('https://raw.githubusercontent.com/mooonlight11/font2/main/Kinantan.woff2') format('woff2'),
url('https://raw.githubusercontent.com/moonlight11/font2/main/Kinantan.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'arlolines';
src: url('https://raw.githubusercontent.com/mooonlight11/font2/main/arlolines-regular-webfont.woff2') format('woff2'),
url('https://raw.githubusercontent.com/gh/mooonlight11/font2/main/arlolines-regular-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: bobogo;
src: url('https://raw.githubusercontent.com/not-elaine/fonts/main/Bobogo.woff2') format('woff2'),
url('https://raw.githubusercontent.com/not-elaine/fonts/main/Bobogo.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: daz;
src: url('https://raw.githubusercontent.com/mooonlight11/font2/main/dazhandwriting-webfont.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/font2/main/dazhandwriting-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: sparkle;
src: url('https://raw.githubusercontent.com/mooonlight11/font2/main/baby_sparkle-webfont.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/font2/main/baby_sparkle-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: analytic;
src: url('https://raw.githubusercontent.com/mooonlight11/font2/main/analytic-webfont.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/font2/main/analytic-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: chrisye;
src: url('https://raw.githubusercontent.com/mooonlight11/font2/main/chrisye-webfont.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/font2/main/chrisye-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: cloudy;
src: url('https://raw.githubusercontent.com/mooonlight11/font2/main/cloudy_weather-webfont.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/font2/main/cloudy_weather-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}


@font-face {
font-family: strike;
src: url('https://raw.githubusercontent.com/mooonlight11/font2/main/single_flashing-webfont.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/font2/main/single_flashing-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: marinda;
src: url('hhttps://raw.githubusercontent.com/mooonlight11/font2/main/marinda-webfont.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/font2/main/marinda-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: nathalie;
src: url('https://raw.githubusercontent.com/mooonlight11/font2/main/simple_nathalie-webfont.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/font2/main/simple_nathalie-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: april;
src: url('https://raw.githubusercontent.com/mooonlight11/font2/main/april-webfont.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/font2/main/april-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: spring;
src: url('https://raw.githubusercontent.com/mooonlight11/fonts/main/spring-webfont.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/fonts/main/spring-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: salmon;
src: url('https://raw.githubusercontent.com/mooonlight11/font3/main/salmon_season-webfont.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/font3/main/salmon_season-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}


@font-face {
font-family: harvest;
src: url('https://raw.githubusercontent.com/mooonlight11/fonts/main/harvest_story-webfont.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/fonts/main/harvest_story-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: milky lemon;
src: url('https://raw.githubusercontent.com/mooonlight11/fonts/main/milky_lemon-webfont.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/fonts/main/milky_lemon-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: notes;
src: url('https://raw.githubusercontent.com/mooonlight11/fonts/main/ordinary_notes-webfont.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/fonts/main/ordinary_notes-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: write me a song;
src: url('https://raw.githubusercontent.com/mooonlight11/fonts/main/please_write_me_a_song-webfont.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/fonts/main/please_write_me_a_song-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}


@font-face {
font-family: lazy dog;
src: url('https://raw.githubusercontent.com/mooonlight11/font2/main/lazy_dog.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/font2/main/lazy_dog.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: compass;
src: url('https://raw.githubusercontent.com/mooonlight11/fonts/main/CompassBook.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/fonts/main/CompassBook.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: story lens;
src: url('https://raw.githubusercontent.com/mooonlight11/fonts/main/StoryLens.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/fonts/main/StoryLens.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: hearts;
src: url('https://raw.githubusercontent.com/mooonlight11/fonts/main/Heartz.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/fonts/main/Heartz.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: juicy mango;
src: url('https://raw.githubusercontent.com/mooonlight11/fonts/main/JuiceMango.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/fonts/main/JuiceMango.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: wonderfully;
src: url('https://raw.githubusercontent.com/mooonlight11/fonts/main/Wonderfully.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/fonts/main/Wonderfully.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: opacity;
src: url('https://raw.githubusercontent.com/mooonlight11/fonts/main/OpacityRegular.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/fonts/main/OpacityRegular.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: violet;
src: url('https://raw.githubusercontent.com/mooonlight11/fonts/main/StellaViolet.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/fonts/main/StellaViolet.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: hey bro;
src: url('https://raw.githubusercontent.com/mooonlight11/fonts/main/HeyBro-Regular.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/fonts/main/HeyBro-Regular.woff') format('woff');
font-weight: normal;
font-style: normal;
}

/** 59 -  moonlight (full credits to moonlight11)**/
@font-face {
font-family: moonlight;
src: url('https://raw.githubusercontent.com/mooonlight11/fonts/main/Moonlight-Regular.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/fonts/main/Moonlight-Regular.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: blueberry;
src: url('https://raw.githubusercontent.com/mooonlight11/fonts/main/Blueberry-Regular.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/fonts/main/Blueberry-Regular.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: coffee;
src: url('https://raw.githubusercontent.com/mooonlight11/fonts/main/CoffeeHealing.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/fonts/main/CoffeeHealing.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: apricot;
src: url('https://raw.githubusercontent.com/mooonlight11/fonts/main/ApricotRegular.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/fonts/main/ApricotRegular.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: kiotto;
src: url('https://raw.githubusercontent.com/mooonlight11/fonts/main/KiottoDemoRegular.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/fonts/main/KiottoDemoRegular.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: jolly jingle;
src: url('https://raw.githubusercontent.com/mooonlight11/fonts/main/JollyJinglePersonaluse.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/fonts/main/JollyJinglePersonaluse.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: providence sans;
src: url('https://raw.githubusercontent.com/mooonlight11/fonts/main/Providence-Sans.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/fonts/main/Providence-Sans.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: more sugar;
src: url('https://raw.githubusercontent.com/mooonlight11/fonts/main/MoreSugarRegular.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/fonts/main/MoreSugarRegular.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: more sugar thin;
src: url('https://raw.githubusercontent.com/mooonlight11/fonts/main/MoreSugarThin.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/fonts/main/MoreSugarThin.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: penmanship;
src: url('https://raw.githubusercontent.com/mooonlight11/fonts/main/KGPrimaryPenmanship.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/fonts/main/KGPrimaryPenmanship.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: seadiving;
src: url('https://raw.githubusercontent.com/mooonlight11/fonts/main/SeadivingRegular.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/fonts/main/SeadivingRegular.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: demand;
src: url('https://raw.githubusercontent.com/mooonlight11/fonts/main/DemandRegular.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/fonts/main/DemandRegular.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: little swag;
src: url('https://raw.githubusercontent.com/mooonlight11/fonts/main/KGALittleSwag.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/fonts/main/KGALittleSwag.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: castles crumbling;
src: url('https://raw.githubusercontent.com/mooonlight11/fonts/main/KGCastlesCrumbling-Normal.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/fonts/main/KGCastlesCrumbling-Normal.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: wildy sans;
src: url('https://raw.githubusercontent.com/mooonlight11/fonts/main/WildySansRegular.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/fonts/main/WildySansRegular.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: simple handmade;
src: url('https://raw.githubusercontent.com/mooonlight11/fonts/main/SimpleHandmadeRegular.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/fonts/main/SimpleHandmadeRegular.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: love;
src: url('https://raw.githubusercontent.com/mooonlight11/fonts/main/Love.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/fonts/main/Love.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: daily retro;
src: url('https://raw.githubusercontent.com/mooonlight11/fonts/main/DailyRetroRegular.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/fonts/main/DailyRetroRegular.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: chicken dinner;
src: url('https://raw.githubusercontent.com/mooonlight11/fonts/main/ChickenDinner.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/fonts/main/ChickenDinner.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: peaches;
src: url('https://raw.githubusercontent.com/mooonlight11/fonts/main/CreamPeach.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/fonts/main/CreamPeach.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: regular brush;
src: url('https://raw.githubusercontent.com/mooonlight11/fonts/main/Brush-Regular.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/fonts/main/Brush-Regular.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: malibu;
src: url('https://raw.githubusercontent.com/mooonlight11/fonts/main/Malibudemo.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/fonts/main/Malibudemo.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: cheese;
src: url('https://raw.githubusercontent.com/mooonlight11/fonts/main/SuperCottage.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/fonts/main/SuperCottage.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: holiday delight;
src: url('https://raw.githubusercontent.com/mooonlight11/fonts/main/HolidayDelightRegular.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/fonts/main/HolidayDelightRegular.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: game bubble;
src: url('https://raw.githubusercontent.com/mooonlight11/fonts/main/GameBubble.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/fonts/main/GameBubble.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: crial black;
src: url('https://raw.githubusercontent.com/mooonlight11/fonts/main/Crialblack.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/fonts/main/Crialblack.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: money;
src: url('https://raw.githubusercontent.com/mooonlight11/fonts/main/Mungil-Regular.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/fonts/main/Mungil-Regular.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: belle;
src: url('https://raw.githubusercontent.com/mooonlight11/fonts/main/BelleBold.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/fonts/main/BelleBold.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: lulu;
src: url('https://raw.githubusercontent.com/mooonlight11/fonts/main/LuluRegular.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/fonts/main/LuluRegular.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: blinky star;
src: url('https://raw.githubusercontent.com/mooonlight11/fonts/main/BlinkyStar.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/fonts/main/BlinkyStar.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: keyna;
src: url('https://raw.githubusercontent.com/mooonlight11/fonts/main/KeynaRegular.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/fonts/main/KeynaRegular.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: chalk;
src: url('https://raw.githubusercontent.com/mooonlight11/fonts/main/Chalkboard-Regular.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/fonts/main/Chalkboard-Regular.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: caramel;
src: url('https://raw.githubusercontent.com/mooonlight11/fonts/main/CaramelRegular.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/fonts/main/CaramelRegular.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: bold bubbles;
src: url('https://raw.githubusercontent.com/mooonlight11/fonts/main/Dongding.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/fonts/main/Dongding.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: maryosh;
src: url('https://raw.githubusercontent.com/mooonlight11/fonts/main/Maryosh.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/fonts/main/Maryosh.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: easter;
src: url('https://raw.githubusercontent.com/mooonlight11/fonts/main/EasterBoldRegular.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/fonts/main/EasterBoldRegular.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: glow mind;
src: url('https://raw.githubusercontent.com/mooonlight11/fonts/main/GlowMindRegular.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/fonts/main/GlowMindRegular.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: sleeping;
src: url('https://raw.githubusercontent.com/mooonlight11/fonts/main/BabySleepwearRegular.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/fonts/main/BabySleepwearRegular.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: nachi;
src: url('https://raw.githubusercontent.com/mooonlight11/fonts/main/Nachi.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/fonts/main/Nachi.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: straw milky;
src: url('https://raw.githubusercontent.com/mooonlight11/fonts/main/StrawMilky.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/fonts/main/StrawMilky.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: mulberry;
src: url('https://raw.githubusercontent.com/mooonlight11/fonts/main/MulberryCakeRegular.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/fonts/main/MulberryCakeRegular.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: note christmas;
src: url('https://raw.githubusercontent.com/mooonlight11/fonts/main/Note-Christmas.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/fonts/main/Note-Christmas.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: notebook;
src: url('https://raw.githubusercontent.com/mooonlight11/fonts/main/The-Notebook.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/fonts/main/The-Notebook.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: cute aurora;
src: url('https://raw.githubusercontent.com/mooonlight11/fonts/main/Cute_Aurora_demo.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/fonts/main/Cute_Aurora_demo.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: lucky skirt;
src: url('https://raw.githubusercontent.com/mooonlight11/fonts/main/LuckySkirt-Regular.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/fonts/main/LuckySkirt-Regular.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: lucky skirt;
src: url('https://raw.githubusercontent.com/mooonlight11/fonts/main/Balonku-Regular.woff2') format('woff2'),
url('https://raw.githubusercontent.com/mooonlight11/fonts/main/Balonku-Regular.woff') format('woff');
font-weight: normal;
font-style: normal;
}

